<h1>Listing fish_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Display weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fish_types.each do |fish_type| %>
  <tr>
    <td><%= fish_type.name %></td>
    <td><%= fish_type.display_weight %></td>
    <td><%= link_to 'Show', fish_type %></td>
    <td><%= link_to 'Edit', edit_fish_type_path(fish_type) %></td>
    <td><%= link_to 'Destroy', fish_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fish type', new_fish_type_path %>
